@model FootballManager.Models.Player

@{
    ViewBag.Title = "Create Player";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-header bg-success text-white text-center">
                    <h3>Create New Player</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="mb-3">
                            @Html.LabelFor(model => model.FirstName)
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.LastName)
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Position)
                            @Html.DropDownListFor(model => model.Position, new SelectList(new[] { "Forward", "Midfielder", "Defender", "Goalkeeper" }), "Select Position", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.JerseyNumber)
                            @Html.TextBoxFor(model => model.JerseyNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JerseyNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Age)
                            @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Height)
                            @Html.TextBoxFor(model => model.Height, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Weight)
                            @Html.TextBoxFor(model => model.Weight, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Nationality)
                            @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.TeamId, "Team")
                            @Html.DropDownList("TeamId", null, "Select a Team", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.TeamName)
                            @Html.TextBoxFor(model => model.TeamName, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.LeagueName)
                            @Html.TextBoxFor(model => model.LeagueName, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.TotalGoals)
                            @Html.TextBoxFor(model => model.TotalGoals, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.TotalShots)
                            @Html.TextBoxFor(model => model.TotalShots, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.TotalPasses)
                            @Html.TextBoxFor(model => model.TotalPasses, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Assists)
                            @Html.TextBoxFor(model => model.Assists, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Appearances)
                            @Html.TextBoxFor(model => model.Appearances, new { @class = "form-control" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.PhotoUrl)
                            @Html.TextBoxFor(model => model.PhotoUrl, new { @class = "form-control" })
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Create Player" class="btn btn-success me-2" />
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
