@model FootballManager.Models.Player

@{
    ViewBag.Title = "Player Details";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">@Model.FirstName @Model.LastName</h3>
                    <small class="text-light">@Model.Position</small>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="@Model.PhotoUrl" alt="@Model.FirstName @Model.LastName" class="img-fluid rounded" style="max-height: 200px;" />
                    </div>

                    <dl class="row">

                        <dt class="col-sm-4">Age</dt>
                        <dd class="col-sm-8">@Model.Age</dd>

                        <dt class="col-sm-4">Height</dt>
                        <dd class="col-sm-8">@Model.Height</dd>

                        <dt class="col-sm-4">Weight</dt>
                        <dd class="col-sm-8">@Model.Weight</dd>

                        <dt class="col-sm-4">Nationality</dt>
                        <dd class="col-sm-8">@Model.Nationality</dd>

                        <dt class="col-sm-4">Team</dt>
                        <dd class="col-sm-8">@Model.TeamName</dd>

                        <dt class="col-sm-4">League</dt>
                        <dd class="col-sm-8">@Model.LeagueName</dd>

                        <dt class="col-sm-4">Appearances</dt>
                        <dd class="col-sm-8">@Model.Appearances</dd>

                        <dt class="col-sm-4">Goals</dt>
                        <dd class="col-sm-8">@Model.TotalGoals</dd>

                        <dt class="col-sm-4">Assists</dt>
                        <dd class="col-sm-8">@Model.Assists</dd>

                        <dt class="col-sm-4">Total Shots</dt>
                        <dd class="col-sm-8">@Model.TotalShots</dd>

                        <dt class="col-sm-4">Total Passes</dt>
                        <dd class="col-sm-8">@Model.TotalPasses</dd>
                    </dl>

                    <div class="text-center mt-4">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }, new { @class = "btn btn-warning me-2" })
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
