<div class="row justify-content-center mb-5">
    <div class="col-md-2 text-center mb-3">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">Premier League</h5>
                <img src="https://brandlogos.net/wp-content/uploads/2021/10/premier-league-logo-300x300.png" alt="Premier League Logo" class="img-fluid mb-2" style="height: 80px; object-fit: contain;" />
                @Html.ActionLink("View Standings", "LeagueDetails", "Home", new { league = "Premier League" }, new { @class = "btn btn-outline-primary btn-sm" })
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center mb-3">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">La Liga</h5>
                <img src="https://1000logos.net/wp-content/uploads/2019/01/Spanish-La-Liga-Logo.png" alt="La Liga Logo" class="img-fluid mb-2" style="height: 80px; object-fit: contain;" />
                @Html.ActionLink("View Standings", "LeagueDetails", "Home", new { league = "La Liga" }, new { @class = "btn btn-outline-primary btn-sm" })
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center mb-3">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">Bundesliga</h5>
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/1200px-Bundesliga_logo_%282017%29.svg.png" alt="Bundesliga Logo" class="img-fluid mb-2" style="height: 80px; object-fit: contain;" />
                @Html.ActionLink("View Standings", "LeagueDetails", "Home", new { league = "Bundesliga" }, new { @class = "btn btn-outline-primary btn-sm" })
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center mb-3">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">Ligue 1</h5>
                <img src="https://upload.wikimedia.org/wikipedia/en/8/83/Ligue_1_2024.svg" alt="Ligue 1 Logo" class="img-fluid mb-2" style="height: 80px; object-fit: contain;" />
                @Html.ActionLink("View Standings", "LeagueDetails", "Home", new { league = "Ligue 1" }, new { @class = "btn btn-outline-primary btn-sm" })
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center mb-3">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">Serie A</h5>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Serie_A_logo_2022.svg/261px-Serie_A_logo_2022.svg.png" alt="Serie A Logo" class="img-fluid mb-2" style="height: 80px; object-fit: contain;" />
                @Html.ActionLink("View Standings", "LeagueDetails", "Home", new { league = "Serie A" }, new { @class = "btn btn-outline-primary btn-sm" })
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center mb-3">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">Eredivisie</h5>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9FuLiKRqUzudEDx0mvQiHouNx8c7Te19Itw&s" alt="Eredivisie Logo" class="img-fluid mb-2" style="height: 80px; object-fit: contain;" />
                @Html.ActionLink("View Standings", "LeagueDetails", "Home", new { league = "Eredivisie" }, new { @class = "btn btn-outline-primary btn-sm" })
            </div>
        </div>
    </div>
</div>
